<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Timely" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Timely" %>">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div><%= content_for?(:description) ? yield(:description) : "Timely" %></div>
    </header>
    <!-- div containter class is intitial condition for bootstrap -->
    <div class="container"> 
      <main role="main">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
         <%= render 'layouts/messages' %>
         <%= yield %>
      </main>
    </div>
  </body>
</html>