<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Timely" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Timely" %>">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=<%= root_path %>>Timely</a>
        </div>

          <!-- Navbar right -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account Settings<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to('Edit Account', edit_user_registration_path, method: :get) %></li>
                  <li><%= link_to('Edit Preferences', edit_user_preferences_path, method: :get) %></li>
                  <li class="divider"></li>
                  <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
                </ul>
            </li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    </header>
    <!-- div containter class is intitial condition for bootstrap -->
    <div class="container"> 
      <main role="main">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
         <%= render 'layouts/messages' %>
         <%= yield %>
      </main>
    </div>
  </body>
</html>